.login {
  padding-top: 1px;
  width: 40rem;
  margin: 0 auto;
  float: none;
  border-radius: 10px;
  border-color: #f8f9fa;
  background-color: white;
}

.invalid input {
  border-color: red;
}

.title {
  color: black;
}

.row {
  margin-left: 50px;
}

.btn.login {
  width: 160px;
  height: 50px;
  background: linear-gradient(90deg, #bfd741, #70e000 100%);
  color: black;
  margin-top: 10px;
  font-weight: 700;
}

.link-forgot {
  margin-left: 100px;
}

@media (min-width: 280px) and (max-width: 653px) {
  .login {
    width: 17rem;
    margin: 0 auto;
    float: none;
  }

  .link-forgot {
    margin-left: 0;
  }
}
